/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right,blue, green);
}
.calgrid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px,auto) repeat(5,100px);
  margin-top: 50px;
  margin-bottom: 50px;
}
button{
  background-color: rgb(70, 70, 70);
}
#clear {
  grid-column: span 2;
  background-color: gray;
}
#del{
  background-color: gray;
}
#equal {
  grid-column: span 2;
  background-color: orange;
}
#input{
grid-column: 1 / -1;
background-color: rgba(28, 28, 28, 0.5);
color: white;
font-size: 80px;
overflow-x: auto;
border: solid black 3px;
}
#plus{
background-color: orange;
}
#minus{
background-color: orange;
}
#divide{
background-color: orange;
}
#multiply{
background-color: orange;
}
button{
  color: white;
  font-size: 20px;
  font-style: oblique;
}
